<app-preloader *ngIf="loading"/>

<!-- todo add count news -->
<h2>All Words</h2>


<table>
  <thead>
  <tr>
    <td>Id</td>
    <td>Thumb</td>
    <td>Name</td>
    <td>Category</td>
    <td>Description</td>
    <td>👎</td>
    <td>👍</td>
    <td>Open ↗️</td>
    <td>Posted?</td>
    <td>Detail</td>
    <td>Edit</td>
    <td>Remove</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of newsList">
    <!-- id -->
    <td>{{c.id}}</td>
    <!-- thumb -->
    <td>
      <img *ngIf="c.mainThumb"
           [src]="imagesPath + '/' + c.mainThumb"
           alt="thumb"
           height="60"
           width="auto">
      <span *ngIf="!c.mainThumb">None</span>
    </td>
    <!-- name -->
    <td>{{c.name}}</td>
    <!-- category -->
    <td>{{c.category ? c.category.name : ''}}</td>
    <!-- description -->
    <td>{{c.description}}</td>
    <!-- dislike -->
    <td>{{c.dislikesCount}}</td>
    <!-- like -->
    <td>{{c.likesCount}}</td>

    <!-- front -->
    <td>
      <a [routerLink]="['/', r.dictionary, c.slug]"
         class="btn"
         target="_blank">🔗</a>
    </td>

    <!-- is draft -->
    <td>{{c.isDraft ? '⛔' : '✔️'}}</td>

    <!-- detail -->
    <td>
      <a [routerLink]="['/' + r.admin, r.dictionary, c.id, r.detail]"
         class="btn btn-outline">📄</a>
    </td>

    <!-- edit -->
    <td>
      <a [routerLink]="['/' + r.admin, r.dictionary, c.id, r.edit]"
         class="btn btn-warning">✏️</a>
    </td>

    <!-- remove, delete -->
    <td>
      <a [routerLink]="['/' + r.admin, r.dictionary, c.id, r.remove]"
         class="btn btn-danger">❌</a>
    </td>
  </tr>
  </tbody>
</table>


<app-pagination [page]="page" [route]="['/', r.admin, r.dictionary]"/>


