<ng-container *ngFor="let news of newsList">
  <app-card>
    <app-card-body>
      <a [routerLink]="['/', r.dictionary, news.slug]" class="news-row">
        <div *ngIf="news.mainThumb" class="news-image">
          <img [alt]="'превью картинка к записи ' + news.name"
               [src]="imagesPath + '/' + news.mainThumb"
               height="auto"
               width="100">
        </div>

        <div class="news-info">
          <h3>{{news.name}}</h3>
          <div [innerHTML]="news.description"></div>
        </div>

      </a>
    </app-card-body>
  </app-card>

</ng-container>

