<app-card>
  <app-card-header>
    Meanings
    <button type="button"
            class="btn"
            *ngIf="section.meanings?.length"
            (click)="sortMeanings(section.meanings)">
      Sort
    </button>
  </app-card-header>
  <app-card-body *ngIf="section.meanings?.length">
    <div class="meanings">
      <div class="meaning" *ngFor="let m of section.meanings; index as i">
        <app-card *ngIf="ws.activeSection == m || !ws.activeSection || ws.activeSection2 == m">
          <app-card-header [active]="ws.activeSection == m || ws.activeSection2 == m">
            <button type="button"
                    class="btn"
                    (click)="showSection[i] = !showSection[i]">
              {{showSection[i] ? '-' : '+'}}
            </button>
            <span>Meaning {{i + 1}}</span>
            <label>
              Order
              <input type="number"
                     placeholder="Section Order"
                     name="m_sectionOrder[{{i}}]"
                     [(ngModel)]="m.sectionOrder"/>
            </label>
            <button type="button"
                    class="btn btn-danger"
                    (click)="removeMeaning(i)">x
            </button>

          </app-card-header>
          <app-card-body *ngIf="showSection[i]">

            <label>
              Meaning
              <textarea name="m_mean[{{i}}]" [(ngModel)]="m.mean"></textarea>
            </label>

            <app-definitions-list [section]="m"/>

          </app-card-body>
        </app-card>

      </div>
    </div>
  </app-card-body>
  <app-card-footer>
    <button type="button"
            class="btn btn-warning"
            (click)="addMeaningInSpeechPart(section)">
      Add meaning part +
    </button>
  </app-card-footer>
</app-card>
