<h2>Add Parent Category</h2>

<form #ngForm="ngForm" (ngSubmit)="onSubmit()">

  <label [for]="form.name">Name</label>
  <input [(ngModel)]="form.name" [id]="form.name" [minlength]="3"
         name="name"
         required type="text">

  <label [for]="form.slug">Slug</label>
  <input [(ngModel)]="form.slug" [id]="form.slug" [minlength]="3"
         name="slug"
         required type="text">

  <button
    [disabled]="isPosting || ngForm.invalid || ngForm.pristine"
    class="btn" type="submit">Submit
  </button>


</form>
