<footer>
  <app-container>
    <div class="footer-wrapper">
      <app-card>
        <app-card-body>
          <p>
            Информационное издание "<a routerLink="/">Новости на Оббед</a>". Все права защищены 2016-{{year}}
          </p>
          <p>125009, Россия, город Москва, Тверской бульвар, 14 ст.2, 8 этаж</p>
        </app-card-body>

        <app-card-footer>
          Мнение авторов материала может не совпадать с мнением редакции и наоборот.
        </app-card-footer>
      </app-card>
    </div>

  </app-container>
</footer>
