@use "vars" as *;

.btn {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  background-color: $primary-color-lighter;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;

  &.btn-small {
    padding: 5px 10px;
    gap: 3px;
    border-radius: 8px;
  }

  &.btn-danger {
    background-color: $danger-bg-color;
  }

  &:hover {
    opacity: .8;
    color: #fff;
  }

  &.btn-outline {
    color: $primary-color;
    background-color: transparent;
    outline: 1px solid $primary-color;
  }

  &.btn-warning {
    background-color: $warning-bg-color;
    color: $warning-bg-text;

    &.btn-outline {
      color: #ffa800;
      background-color: transparent;
      outline: 1px solid #ffa800;
      border: none;
    }
  }

  &[disabled] {
    background-color: darkred;
  }


}
