@use "vars";

.card {
  background-color: vars.$card-bg-color;
  border-radius: 8px;
  //border: 1px solid vars.$card-border-color;
  margin-bottom: 20px;
  box-shadow: 0 4px 18px 0 rgb(194 200 213);
  overflow: hidden;


  &.ml-3 {
    margin-left: 10px * 3;
  }

  &.ml-5 {
    margin-left: 10px * 5;
  }

  .card-header {
    font-weight: 600;
    font-size: 17px;
    border-bottom: 2px solid vars.$bg-color;
    padding: 10px 20px;
    color: vars.$text-color;
    background-color: vars.$bg-color;

    &.active {
      background-color: vars.$warning-bg-color;
    }

    .admin & {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

  }

  .card-body {
    padding: 10px 20px;

    &.flex-column {
      display: flex;
      flex-direction: column;
    }

    // app-card inside app-card with margin from left
    .card:not(.no-margin-left) {
      margin-left: 40px;
      margin-top: 20px;
    }
  }

  .card-footer {
    border-top: 2px solid vars.$bg-color;
    padding: 10px 20px;
    color: vars.$text-color;
  }
}
