@use "vars";

* {
  font-family: sans-serif;
}

html {
  height: 100%;
}

body {
  height: inherit;
  overflow-y: scroll;
  background-color: vars.$bg-color;


  a {
    &:hover {
      color: vars.$primary-color;
    }
  }

  main {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.pointer {
  cursor: pointer;
}

.opacity-25 {
  opacity: .25;
}

code {
  background: #eaf7f4;
  border: 1px solid #c7dbd7;
  border-top-width: 2px;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  display: block;
}

hr {
  border-width: 1px;
  border-color: vars.$primary-color-lighter;
}

button, select, label {
  cursor: pointer;
}

button {
  min-width: 35px;

  &:hover {
    opacity: .8;
    color: vars.$primary-color;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
