@use "vars";

form {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    align-items: center;

    & > input, & > textarea, & > select {
      flex: 1;
    }

    &.required::after {
      content: " * ";
      top: 0;
      color: red;
      position: relative;
    }

    input {
      margin-bottom: 0;
    }
  }

  .checkbox-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;

    & input[type=checkbox], & label {
      margin: 0;
      padding: 0;
    }
  }

  input,
  select,
  textarea,
  button {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid vars.$card-border-color;
    background-color: vars.$card-bg-color;
    margin-bottom: 20px;

    &[type=checkbox] {
      width: 20px;
      height: 20px;
    }

    &[readonly] {
      background-color: vars.$bg-color;
    }

    &[disabled] {
      background-color: lightgray;
    }
  }


}

.admin {
  form {
    input, select, textarea, button {
      margin-bottom: 10px;
    }
  }
}


.form-container {
  padding-left: 20%;
  padding-right: 20%;

  @media screen and (max-width: 768px) {
    padding-left: unset;
    padding-right: unset;
  }
}
