$bg-color: #eaf7f4;
$text-color: #212121;
$text-color-gray: #878c9f;


$card-bg-color: #fff;
$card-border-color: #e5e5e5;


$primary-color: #00C194;
$primary-color-lighter: #77c5ab;

$success-bg-color: #6bc66b;
$success-bg-text: #004b00;

$warning-bg-color: #ffcb66;
$warning-bg-text: #714b00;

$danger-bg-color: #ff846c;
$danger-bg-text: #2f0000;

$info-bg-color: #00cfd6;
$info-bg-text: #004a4b;

$default-radius: 5px;
