<div class="panels">

  <div class="sidebar">
    <app-card>
      <app-card-body>
        <div class="sidebar-widget">
          <!-- <h4 class="block-title">Пользователь</h4> -->
          <!-- <a [routerLinkActiveOptions]="{exact: true}" -->
          <!--    [routerLink]="['/', r.account, r.accountPremium]" -->
          <!--    class="btn btn-warning" -->
          <!--    routerLinkActive="btn-outline">Подписка</a> -->

          <!-- <a class="btn" [routerLink]="['/', r.account, r.userEdit]">Редактировать аккаунт</a> -->
        </div>

        <div class="sidebar-widget">
          <h4 class="block-title">Материалы</h4>
          <a [routerLinkActiveOptions]="{exact: true}"
             [routerLink]="['/', r.account, r.favorites]"
             class="btn"
             routerLinkActive="btn-outline">❤️ Избранное</a>
        </div>
      </app-card-body>
    </app-card>


  </div>

  <div class="right-side">
    <app-card>
      <app-card-body>
        <p>Привет {{auth.user?.email}}!</p>
        <p *ngIf="auth.isLoggedAdmin()">Привет АДМИН!!!</p>

        <router-outlet/>
      </app-card-body>
    </app-card>

  </div>
</div>

