<app-card [noMarginLeft]="true">
  <app-card-header>
    Speech parts
    <button type="button"
            *ngIf="wordSection.speechParts?.length"
            (click)="sortSpeechParts(wordSection.speechParts)">📶
    </button>

  </app-card-header>
  <app-card-body>

    <!-- speech parts loop -->
    <div *ngFor="let sp of wordSection.speechParts; index as i"
         class="speech-part">
      <app-card *ngIf="sp == ws.activeSpeechPart || !ws.activeSpeechPart"
                [noMarginLeft]="true">
        <app-card-header [active]="ws.activeSpeechPart == sp">
          <button type="button"
                  class="btn"
                  (click)="showSection[i] = !showSection[i]">
            {{showSection[i] ? '-' : '+'}}
          </button>
          <span>Part {{i + 1}}</span>
          <label>
            Order
            <input type="number" name="sp_order[{{i}}]" [(ngModel)]="sp.order">
          </label>
          <label>
            Speech Part
            <select [(ngModel)]="sp.speechPartEnum" name="sp_speechPart[{{i}}]">
              <optgroup label="POPULAR">
                <option [ngValue]="SpeechPartEnum.Noun">
                  {{SpeechPartEnum[SpeechPartEnum.Noun]}}
                </option>
                <option [ngValue]="SpeechPartEnum.Verb">
                  {{SpeechPartEnum[SpeechPartEnum.Verb]}}
                </option>
                <option [ngValue]="SpeechPartEnum.Adjective">
                  {{SpeechPartEnum[SpeechPartEnum.Adjective]}}
                </option>
                <option [ngValue]="SpeechPartEnum.Idiom">
                  {{SpeechPartEnum[SpeechPartEnum.Idiom]}}
                </option>
                <option [ngValue]="SpeechPartEnum.Phrase">
                  {{SpeechPartEnum[SpeechPartEnum.Phrase]}}
                </option>

              </optgroup>
              <optgroup label="ALL">
                <option [ngValue]="SpeechPartEnum.Undefined">------</option>
                <ng-container *ngFor="let part of SpeechPartEnum|keyvalue">
                  <option *ngIf="Number(part.value)"
                          [ngValue]="part.value">{{part.key}}</option>
                </ng-container>
              </optgroup>
            </select>
          </label>
          <button type="button"
                  class="btn btn-danger"
                  (click)="removeSpeechPart(i)">❌
          </button>
        </app-card-header>
        <app-card-body *ngIf="showSection[i]">
          <!-- definitions in speech part -->
          <app-definitions-list [section]="sp"/>
          <!-- end definitions in speech part -->

          <!-- meanings in speech part -->
          <app-meanings [section]="sp"/>
          <!-- end meanings in speech part -->

          <!-- sounds in speech part -->
          <app-sounds [section]="sp"/>
          <!-- end sounds in speech part -->

          <!-- spec-blocks in speech part -->
          <app-spec-blocks [section]="sp"/>
          <!-- end spec-blocks in speech part -->


        </app-card-body>
      </app-card>
    </div>
    <!-- end speech part loop -->

    <br>
    <button type="button"
            class="btn btn-warning"
            (click)="addSpeechPart()">
      ➕ Add speech part
    </button>


  </app-card-body>
</app-card>
