<app-card>
  <app-card-body>
    <div class="meanings">
      <h6>Meanings</h6>
      <div class="meaning" *ngFor="let m of section.meanings; index as i" style="margin-left: 30px">
        <app-card>
          <app-card-body>
            <button type="button" (click)="section.meanings.splice(i,1)">Remove</button>

            <label>
              Meaning section Order
              <input type="number" name="m_sectionOrder[{{i}}]" [(ngModel)]="m.sectionOrder"/>
            </label>

            <br>

            <label>
              Meaning mean
              <textarea name="m_mean[{{i}}]" [(ngModel)]="m.mean"></textarea>
            </label>

            <br>

            <h6>Definitions inside meaning part</h6>
            <app-definitions-list [section]="m"/>

          </app-card-body>
        </app-card>

      </div>
      <button type="button" (click)="addMeaningInSpeechPart(section)">Add meaning part +</button>
    </div>
  </app-card-body>
</app-card>
