<ng-container *ngFor="let c of newsList">
  <app-card>
    <app-card-body>
      <a [routerLink]="['/', r.news, c.slug]" class="news-row">
        <div class="news-image">
          <img [alt]="'news thumb' + c.name"
               [src]="imagesPath + '/' + c.mainThumb"
               height="auto"
               width="100">
        </div>

        <div class="news-info">
          <h3>{{c.name}}</h3>
          <div [innerHTML]="c.description"></div>
        </div>

      </a>
    </app-card-body>
  </app-card>

</ng-container>

