<app-preloader *ngIf="isPosting || loading"/>

<h2>Add Word</h2>

<form #ngForm="ngForm" (ngSubmit)="onSubmit()">

  <label for="category-id">Category</label>
  <select [(ngModel)]="form.categoryId" id="category-id"
          name="category_id" required>

    <option [ngValue]="undefined" disabled hidden>Select category</option>

    <ng-container *ngFor="let p of parentCats">

      <!-- group -->
      <optgroup [label]="p.name">

        <ng-container *ngFor="let c of categories">
          <option *ngIf="c.parentCategory?.id == p.id"
                  [ngValue]="c.id">{{c.name}}</option>

        </ng-container>

      </optgroup>
      <!-- end group -->

      <ng-container *ngFor="let c of catsWithoutParents">
        <option [ngValue]="c.id">{{c.name}}</option>

      </ng-container>

    </ng-container>

    <!-- <ng-container *ngFor="let c of categories"> -->

    <!--   <option [ngValue]="c.id">{{c.name}} - {{c.parentCategory?.name}}</option> -->


    <!-- </ng-container> -->
  </select>

  <label class="required" for="name">Name</label>
  <input (input)="createSlug()" [(ngModel)]="form.name" id="name"
         name="name"
         required type="text">

  <label class="required" for="slug">Slug</label>
  <input (input)="updateSlug()" [(ngModel)]="form.slug" id="slug" name="slug"
         required
         type="text">

  <div class="checkbox-block">
    <input [(ngModel)]="form.popular" id="popular" name="popular" type="checkbox">
    <label for="popular">Popular</label>
  </div>

  <label for="description">Description</label>
  <textarea [(ngModel)]="form.description"
            id="description" name="description"></textarea>

  <label for="article">Article</label>
  <textarea [(ngModel)]="form.article"
            id="article" name="article"></textarea>


  <!-- image preview -->
  <div *ngIf="form.mainImage" class="image-preview">
    <img [src]="imageFile" alt="" width="200">
    <div>
      <div><b>KB</b>: {{(form.mainImage.size / 1024)|number}} kilobytes</div>
      <div><b>MB</b>: {{(form.mainImage.size / (1024 * 1024))|number}} megabytes</div>

      <div><b>Filename</b>: {{form.mainImage.name}}</div>
    </div>
  </div>
  <!-- end image preview -->


  <label for="image">Image</label>
  <input (change)="showImage($event.target)"
         class="btn"
         id="image"
         name="image"
         type="file">


  <label for="newsLink">News Link</label>
  <input [(ngModel)]="form.newsLink"
         id="newsLink"
         name="newsLink"
         type="text">


  <div>{{form.tags|json}}</div>
  <label for="tags">NewsTag[] - Tags - '|' - separator</label>
  <input (input)="updateFormTags()"
         [(ngModel)]="formTagsString"
         id="tags"
         name="tags"
         type="text">

  <div class="flex flex-base">
    <label for="dislikes">
      Dislikes
      <input [(ngModel)]="form.disLikes"
             id="dislikes"
             min="0"
             name="dislikes"
             step="1"
             type="number"></label>


    <label for="likes">
      Likes
      <input [(ngModel)]="form.likes"
             id="likes"
             min="0"
             name="likes"
             step="1"
             type="number"></label>

  </div>

  <br>


  <div class="checkbox-block">
    <input type="checkbox" name="is_draft" id="is-draft"
           [(ngModel)]="form.isDraft">
    <label for="is-draft">Draft</label>
  </div>

  <br/>

  <button [disabled]="isPosting || ngForm.invalid || ngForm.pristine"
          class="btn"
          type="submit">
    {{isPosting ? 'Posting...' : "Add News"}}
  </button>
</form>

<div *ngIf="errors" class="alert alert-danger">
  <pre>{{errors|json}}</pre>
</div>



