@use "vars" as *;

article, .word-sections {

  .mean-block {
    .mean {
      font-weight: 600;
      color: darkmagenta;

      .italic {
        font-style: italic;
      }
    }
  }

  .sounds {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;


    .sound-block {
      display: flex;
      align-items: center;
      gap: 5px;
      flex-wrap: wrap;

      .language {
        text-transform: uppercase;
        margin-right: 10px;
        font-weight: 600;
        color: darkblue;
      }

      .transcription {
        color: dimgray;
        font-size: 15px;
      }

    }
  }

  .def-name {
    color: darkblue;
    text-transform: capitalize;

    &.italic {
      font-style: italic;
    }
  }

  .def-desc {
    font-style: italic;
    color: gray;
    font-size: 14px;

    & * {
      font-size: 14px;
    }

  }

  .def-text {
    color: dimgray;

  }

  .tag {
    text-transform: lowercase;
    background-color: lightgray;
    border-radius: 6px;
    padding: 3px;
    margin-right: 5px;
    color: dimgray;
  }

}

ul.examples {
  &::before {
    content: 'Примеры';
    text-transform: lowercase;
    color: darkgray;
    font-style: italic;
  }

  li:first-child {
    margin-top: 10px;
  }

  li {
    margin-bottom: 20px;

    .example {
      font-weight: 600;
      color: darkblue;
      margin-bottom: 10px;

      &::before {
        display: inline-block;
        content: 'По английски: ';
        width: 95px;
        text-transform: lowercase;
        color: darkgray;
        font-weight: 300;
        font-size: 14px;
      }

    }

    .example-tr {
      font-weight: 300;
      font-style: italic;
      color: dimgray;

      &::before {
        display: inline-block;
        content: 'Перевод: ';
        width: 95px;
        text-transform: lowercase;
        color: darkgray;
        font-size: 14px;
      }

    }
  }
}
