@use "vars" as *;

article, .word-sections {

  .mean-block, .definition-block, .special-block {
    &:not(:last-child) {
      border-bottom: 1px solid $primary-color-lighter;
      margin-bottom: 20px;

    }
  }

  .special-block {
    background-color: $bg-color;
    border-radius: $default-radius;
    overflow: hidden;

    .def-name {
      padding: 10px 10px 10px;
      background-color: $primary-color-lighter;
      color: #fff;
      margin: 0;
    }

    .def-text {
      padding: 0 10px 10px;
    }
  }

  .mean-block {

    .mean {
      font-weight: 600;
      color: $primary-color;
      padding-bottom: 10px;
      border-bottom: 1px solid $bg-color;

      .italic {
        font-style: italic;
        color: $primary-color-lighter;
        border-bottom: 1px solid $primary-color-lighter;
      }
    }
  }

  .sounds {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;


    .sound-block {
      display: flex;
      align-items: center;
      gap: 5px;
      flex-wrap: wrap;

      .language {
        text-transform: uppercase;
        font-weight: 600;
        color: $text-color;
      }

      .transcription {
        color: $text-color-gray;
        font-size: 15px;
      }

    }
  }

  .def-name {
    color: $primary-color;
    text-transform: capitalize;

    span.to-lower {
      text-transform: lowercase;
    }

    &.italic {
      font-style: italic;
    }
  }

  .def-desc {
    font-style: italic;
    color: $primary-color;
    font-size: 14px;

    & * {
      font-size: 14px;
    }

  }

  .def-text {
    color: $text-color-gray;

  }

  .tag {
    text-transform: uppercase;
    background-color: $bg-color;
    border-radius: 6px;
    padding: 3px 5px;
    color: $primary-color;
  }

}

ul.labels, ul.examples {

  li {
    margin-bottom: 20px;

    &::marker {
      color: $text-color-gray;
    }
  }


}

ul.labels {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;

  li {
    list-style: none;

  }
}

ul.examples {

  &::before {
    content: 'Примеры:';
    text-transform: lowercase;
    color: $text-color-gray;
    font-style: italic;
  }


  li {

    &:first-child {
      margin-top: 10px;
    }

    .example, .example-tr {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      span.name {
        flex-basis: 95px;
        display: inline-block;
        text-transform: lowercase;
        color: $text-color-gray;
        font-weight: 300;
        font-size: 14px;

        @media screen and (max-width: 768px) {
          flex-basis: unset;
        }
      }

      span.text {
        flex: 10;
      }
    }

    .example {
      font-weight: 600;
      color: $text-color;
      margin-bottom: 10px;

    }

    .example-tr {
      font-weight: 300;
      font-style: italic;
      color: $text-color-gray;


    }
  }
}
