<app-preloader *ngIf="wrapperComponent.loading"/>

<h2 *ngIf="news">Detail Word {{news.id}}</h2>

<div class="flex">

  <a *ngIf="news" [routerLink]="['/', r.dictionary, news.slug]"
     class="btn btn-outline">Front View 🔗</a>

  <a [relativeTo]="route.parent" [routerLink]="r.edit" class="btn">Edit ✏️</a>
  <a [relativeTo]="route.parent" [routerLink]="r.remove" class="btn btn-danger">Remove ❌</a>

</div>

<ng-container *ngIf="news">
  <br>

  <h3>News link</h3>
  <p>
    <a [href]="news.newsLink" rel="noreferrer noopener nofollow"
       target="_blank">{{news.newsLink}}</a>
  </p>

  <br>
  <h3>News Image</h3>
  <p>
    <a *ngIf="thumb"
       [href]="imagesPath + '/' + news.mainImage" target="_blank">
      <img [src]="imagesPath + '/' + thumb" alt="thumb">
    </a>
  </p>

  <br>
  <h3>News object</h3>
  <pre>{{news|json}}</pre>


</ng-container>



