<app-card>
  <app-card-header>
    Spec blocks
    <button type="button"
            *ngIf="section.specBlocks?.length"
            (click)="sortSpecBlock(section.specBlocks)">Sort
    </button>
  </app-card-header>
  <app-card-body *ngIf="section.specBlocks?.length">
    <div class="spec-blocks">
      <div class="spec-block"
           *ngFor="let sb of section.specBlocks; index as i">
        <app-card *ngIf="ws.activeSection == sb || !ws.activeSection">
          <app-card-header [active]="ws.activeSection == sb">

            <div class="flex flex-base">
              <button type="button" (click)="specBlockShow[i] = !specBlockShow[i]">
                {{specBlockShow[i] ? '-' : '+'}}
              </button>
              <label>
                Spec Block
                <input type="number" name="sb_sectionOrder[{{i}}]"
                       placeholder="Order"
                       [(ngModel)]="sb.sectionOrder">
              </label>

              <button type="button"
                      (click)="section.specBlocks.splice(i,1)">
                Remove
              </button>

              <input type="text" name="sb_name[{{i}}]"
                     [(ngModel)]="sb.name"
                     placeholder="Name"/>
            </div>

          </app-card-header>
          <app-card-body *ngIf="specBlockShow[i]">

            <app-card>
              <app-card-header>
                Spec block definition
              </app-card-header>
              <app-card-body>
                <app-definitions-list-item [section]="section"
                                           [definition]="sb.definition"/>
              </app-card-body>
            </app-card>


          </app-card-body>
        </app-card>
      </div>
    </div>
  </app-card-body>
  <app-card-footer>
    <button type="button" (click)="addSpecBlockInSpeechPart(section)">Add spec bloc part +</button>
  </app-card-footer>
</app-card>
