<div class="panels">

  <div class="sidebar left-side">

    <div class="sidebar-widget">
      <h2 class="block-title">News</h2>
      <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/', r.admin, r.news]"
         class="btn" routerLinkActive="btn-outline">All News</a>

      <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/', r.admin, r.news, r.newsAdd]"
         class="btn" routerLinkActive="btn-outline">Add News</a>

    </div>


    <div class="sidebar-widget">
      <h2 class="block-title">Categories</h2>
      <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/', r.admin, r.parentCategories, r.parentCategoryAdd]"
         class="btn" routerLinkActive="btn-outline">Add Parent Category</a>
      <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/', r.admin, r.admCategories, r.admCategoryAdd]"
         class="btn" routerLinkActive="btn-outline">Add Category</a>
    </div>

    <div class="sidebar-widget">
      <h2 class="block-title">Users</h2>
      <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/', r.admin, r.users]"
         class="btn" routerLinkActive="btn-outline">All Users</a>

    </div>
  </div>

  <div class="right-side">
    <p>Admin Dashboard</p>

    <router-outlet/>
  </div>
</div>


