<div class="panels">

  <div class="sidebar left-side">

    <!-- news -->
    <div class="sidebar-widget">
      <h2 class="block-title">Новости</h2>
      <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/', r.admin, r.news, r.newsAdd]"
         class="btn" routerLinkActive="btn-outline">Добавить новость</a>


      <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/', r.admin, r.news]"
         class="btn" routerLinkActive="btn-outline">Все новости</a>


    </div>
    <!-- end news -->


    <!-- categories -->
    <div class="sidebar-widget">
      <h2 class="block-title">Категории</h2>
      <a [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="['/', r.admin, r.parentCategories, r.parentCategoryAdd]"
         class="btn" routerLinkActive="btn-outline">Добавить род. категорию</a>
      <a [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="['/', r.admin, r.admCategories, r.admCategoryAdd]"
         class="btn" routerLinkActive="btn-outline">Добавить влож. категорию</a>
    </div>
    <!-- end categories -->


    <!-- users -->
    <div class="sidebar-widget">
      <h2 class="block-title">Пользователи</h2>
      <a [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/', r.admin, r.users]"
         class="btn" routerLinkActive="btn-outline">Все пользователи</a>
    </div>
    <!-- end users -->

    <!-- comments -->
    <div class="sidebar-widget">
      <h2 class="block-title">Комментарии</h2>
      <a [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="['/', r.admin, r.comments, r.commentWaitModer]"
         class="btn" routerLinkActive="btn-outline">Ожидают модерации</a>
    </div>
    <!-- end comments -->


  </div>

  <div class="right-side">
    <p>Панель управления Админа</p>

    <router-outlet/>
  </div>
</div>


