@use "vars";

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.word-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .menu.left-side {
    flex: 2;

    .nested-menu-buttons {
      margin-left: 20px;

      hr {
        margin-left: -20px;
      }

      button {
        width: 100%;
      }

    }
  }

  .right-side {
    flex: 10;
  }

}
