<app-preloader *ngIf="isPosting"/>

<h2>Edit News {{newsId}}</h2>

<div class="buttons">
  <a [relativeTo]="route.parent" [routerLink]="r.show"
     class="btn">Detail</a>

  <button (click)="videoFoldersToDb()" class="btn" type="button">
    Video Folders to DB
  </button>
</div>


<form #ngForm="ngForm" (ngSubmit)="onSubmitMainForm()">
  <label for="category-id">Category</label>
  <select [(ngModel)]="form.categoryId" id="category-id" name="category_id"
          required>
    <option *ngFor="let c of categories"
            [ngValue]="c.id"
            [selected]="form.categoryId == c.id">{{c.name}} - {{c.parentCategory?.name}}</option>
  </select>

  <label class="required" for="name">Name</label>
  <input [(ngModel)]="form.name" id="name" name="name" required type="text">

  <label (click)="allowSlugUpdate = !allowSlugUpdate" class="required"
         for="slug">Slug (click to allow change)</label>
  <input (input)="updateSlug()" [(ngModel)]="form.slug" [readonly]="!allowSlugUpdate"
         id="slug"
         name="slug"
         required type="text">

  <div class="checkbox-block">
    <input [(ngModel)]="form.popular" id="popular" name="popular" type="checkbox">
    <label for="popular">Popular</label>
  </div>

  <label for="description">Description</label>
  <textarea [(ngModel)]="form.description"
            [rows]="5"
            id="description" name="description"></textarea>

  <label for="article">Article</label>
  <textarea [(ngModel)]="form.article"
            [rows]="15"
            id="article" name="article"></textarea>


  <!-- image preview -->
  <!-- <div *ngIf="form.mainImage"
       style="display: flex; flex-wrap: wrap; gap: 20px; margin-bottom: 20px">
    <img [src]="imageFile" alt="" width="200">
    <div>
      <div><b>KB</b>: {{(form.mainImage.size / 1024)|number}} kilobytes</div>
      <div><b>MB</b>: {{(form.mainImage.size / (1024 * 1024))|number}} megabytes</div>

      <div><b>Filename</b>: {{form.mainImage.name}}</div>
    </div>
  </div> -->
  <!-- end image preview -->


  <!--  <label for="image">Image</label>
   <input (change)="showImage($event.target)"
          class="btn"
          id="image"
          name="image"
          type="file"> -->


  <label for="newsLink">News Link <a [href]="form.newsLink" target="_blank">[Open]</a></label>
  <input [(ngModel)]="form.newsLink"
         id="newsLink"
         name="newsLink"
         type="text">

  <div>{{form.tags|json}}</div>
  <label for="tags">NewsTag[] - Tags - '|' - separator</label>
  <input (input)="updateFormTags()"
         [(ngModel)]="tagsString"
         id="tags"
         name="tags"
         type="text">


  <label for="dislikes">Dislikes</label>
  <input [(ngModel)]="form.disLikes"
         id="dislikes"
         min="0"
         name="dislikes"
         step="1"
         type="number">

  <label for="likes">Likes</label>
  <input [(ngModel)]="form.likes"
         id="likes"
         min="0"
         name="likes"
         step="1"
         type="number">

  <hr/>

  <!-- Word section -->
  <app-card [noMarginLeft]="true">
    <app-card-header>
      Word Section
    </app-card-header>
    <app-card-body>

      <div class="word-section">
        <div class="menu left-side">
          <app-card [noMarginLeft]="true">
            <app-card-header>
              Sections
              <button type="button"
                      *ngIf="wordSection.speechParts?.length"
                      (click)="resetActiveSection()">
                Reset
              </button>
            </app-card-header>
            <app-card-body>
              <div *ngFor="let sp of wordSection.speechParts">
                <app-card [noMarginLeft]="true">
                  <app-card-header>
                    <button type="button"
                            [class.btn]="ws.activeSpeechPart == sp"
                            (click)="setActiveSection(sp, [undefined, undefined])">
                      Speech Part {{sp.order}}
                    </button>
                  </app-card-header>
                  <app-card-body>
                    <div class="nested-menu-buttons">
                      <ng-container *ngIf="sp.meanings?.length">
                        <div *ngFor="let m of sp.meanings">
                          <button type="button"
                                  [class.btn]="ws.activeSection == m || ws.activeSection2 == m"
                                  (click)="setActiveSection(sp,[m, undefined])">
                            Meaning {{m.sectionOrder}}
                          </button>

                          <!-- definition menu inside meaning -->
                          <div class="nested-menu-buttons">
                            <ng-container *ngIf="m.definitions?.length">
                              <div *ngFor="let d of m.definitions">
                                <button type="button"
                                        [class.btn]="ws.activeSection2 == d || ws.activeSection == d"
                                        (click)="setActiveSection(sp, [d,m])">
                                  Definition {{d.sectionOrder}}
                                </button>
                              </div>
                              <hr>
                            </ng-container>
                          </div>
                          <!-- end definition menu inside meaning -->

                        </div>
                        <hr>
                      </ng-container>

                      <ng-container *ngIf="sp.definitions?.length">
                        <div *ngFor="let d of sp.definitions">
                          <button type="button"
                                  [class.btn]="ws.activeSection == d"
                                  (click)="setActiveSection(sp,[d, undefined])">
                            Definition {{d.sectionOrder}}
                          </button>
                        </div>
                        <hr>
                      </ng-container>

                      <ng-container *ngIf="sp.specBlocks?.length">
                        <div *ngFor="let sb of sp.specBlocks">
                          <button type="button"
                                  [class.btn]="ws.activeSection == sb"
                                  (click)="setActiveSection(sp,[sb, undefined])">
                            Spec Block {{sb.sectionOrder}}</button>
                        </div>
                        <hr>
                      </ng-container>

                      <ng-container *ngIf="sp.sounds?.length">
                        <div *ngFor="let s of sp.sounds">
                          <button type="button"
                                  [class.btn]="ws.activeSection == s"
                                  (click)="setActiveSection(sp,[s, undefined])">
                            Sound Lang {{s.language}}
                          </button>
                        </div>
                        <hr>
                      </ng-container>

                    </div>


                  </app-card-body>
                </app-card>

              </div>
            </app-card-body>
          </app-card>
        </div>

        <div class="right-side">
          <app-speech-parts [wordSection]="wordSection"/>
        </div>
      </div>


    </app-card-body>
  </app-card>
  <!-- end word section -->


  <div class="checkbox-block">
    <input [(ngModel)]="form.removeImage"
           id="remove-image"
           name="remove_image"
           type="checkbox">
    <label for="remove-image">Remove Image</label>
  </div>


  <!-- submit form -->
  <button [disabled]="isPosting || ngForm.invalid || ngForm.pristine"
          class="btn"
          type="submit">
    {{isPosting ? 'Posting...' : "Update Word"}}
  </button>
  <!-- end submit form -->

  <div *ngIf="errors" class="alert alert-danger">
    <pre>{{errors|json}}</pre>
  </div>
</form>


<!-- Update News MainImage -->
<img *ngIf="mainThumbPath"
     [src]="mainThumbPath" alt="main thumb preview" width="200">
<form (ngSubmit)="onSubmitImageForm()">

  <label for="image">Update image</label>
  <input (change)="updateImagePreview($event)" class="btn" id="image" name="image"
         type="file">
  <button class="btn" type="submit">Update image</button>
</form>


