<app-card>
  <app-card-header [active]="ws.activeSection==definition || ws.activeSection2 == definition">
    <button type="button" (click)="showSection[index] = !showSection[index]">
      {{showSection[index] ? '-' : '+'}}
    </button>
    <span>Definition {{index + 1}}</span>
    <label>
      Order
      <input type="number" name="d_sectionOrder[{{index}}]"
             placeholder="Section Order"
             [(ngModel)]="definition.sectionOrder"/>
    </label>

    <button type="button"
            (click)="section.definitions.splice(index,1)">Remove
    </button>

  </app-card-header>
  <app-card-body *ngIf="showSection[index]">

    <label>
      Order Inside Meaning
      <input type="number" name="d_orderInsideMeaning[{{index}}]" [(ngModel)]="definition.orderInsideMeaning"/>
    </label>

    <br>

    <label>
      Text
      <textarea name="d_defText[{{index}}]"
                [(ngModel)]="definition.defText"></textarea>
    </label>

    <br>

    <label>
      Eng Level
      <select name="d_level[{{index}}]" [(ngModel)]="definition.level">
        <option [ngValue]="EngLevel.Undefined">------</option>
        <ng-container *ngFor="let l of EngLevel|keyvalue">
          <option *ngIf="Number(l.value)" [ngValue]="l.value">{{l.key}}</option>
        </ng-container>
      </select>
    </label>


    <br>

    <!-- labels -->
    <app-card>
      <app-card-header>
        Definition Labels
      </app-card-header>
      <app-card-body>
        <div *ngFor="let l of definition.labels;index as i">
          <app-card>
            <app-card-header>
              Label {{i}}
              <button type="button" (click)="definition.labels.splice(i, 1)">Remove</button>
              <!-- label name -->
              <!-- label input string -->
              <input type="text" name="l_name[{{i}}]"
                     placeholder="Name"
                     [(ngModel)]="l.name">
              <!-- label selector -->
              <select (change)="updateLabel(l, i)"
                      [(ngModel)]="tempLabel[i]" name="temp_label[{{i}}]">
                <option value="" [selected]="l.name == ''">------</option>
                <option *ngFor="let lSelector of ws.labelsHelper"
                        [selected]="lSelector.name == l.name"
                        [ngValue]="lSelector">{{lSelector.name}}</option>
              </select>
              <!-- end label name -->
            </app-card-header>
            <app-card-body>
              <label>
                Description
                <textarea name="l_description[{{i}}]"
                          [(ngModel)]="l.description"></textarea>
              </label>

              <br>
              <label>
                Speech Part Enum
                <select name="l_speechPartEnum[{{i}}]"
                        [(ngModel)]="l.speechPartEnum">
                  <option [ngValue]="undefined">------</option>
                  <ng-container *ngFor="let e of SpeechPartEnum|keyvalue">
                    <option *ngIf="Number(e.value)" [ngValue]="e.value">{{e.key}}</option>
                  </ng-container>
                </select>
              </label>
              <br>


              <!-- todo add parent meaning -->
              <!-- <div contenteditable="true">parentMeaning: ...</div> -->
            </app-card-body>
          </app-card>

        </div>
        <button type="button" (click)="addLabelsInDefinition(definition)">
          Add def label in definition +
        </button>
      </app-card-body>
    </app-card>
    <!-- end labels -->


    <br>

    <!-- examples -->
    <app-card>
      <app-card-header>
        Definition Examples
      </app-card-header>
      <app-card-body>
        <div *ngFor="let ex of definition.examples;index as i">
          <app-card>
            <app-card-header>
              Example {{i}}
              <button type="button" (click)="definition.examples.splice(i, 1)">Remove</button>
            </app-card-header>
            <app-card-body>

              <label>
                Example
                <textarea name="ex_example[{{i}}]"
                          [(ngModel)]="ex.example"></textarea>
              </label>
              <br>
              <label>
                Example Translation
                <textarea name="ex_exampleTranslation[{{i}}]"
                          rows="5"
                          [(ngModel)]="ex.exampleTranslation"></textarea>
              </label>
              <br>

              <!-- todo add parent meaning -->
              <div contenteditable="true">parentMeaning: ...</div>

            </app-card-body>
          </app-card>
        </div>

      </app-card-body>
      <app-card-footer>
        <button type="button" (click)="addExampleInDefinition(definition)">
          Add def example in definition +
        </button>
      </app-card-footer>
    </app-card>

    <!-- end examples -->

  </app-card-body>
</app-card>







